
<style>
	img{
		height: 60%;
		width: 60%;
		justify-content: center;
	}
	
a{
    display: inline-block;
    /* border: 1px solid #e4eaec; */
    /* background-color: #e4eaec; */
    color: rgb(255, 0, 0);
    outline: 0;
    cursor: pointer;
    padding: 7px 15px;
    font-size: 0.875em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
    white-space: nowrap;
}

a{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    margin-bottom: 10px;
}
</style>
<body>
   <nav>
<a  href="/" >Home</a>	   
	   
<a  href="/item_list" >Item Master</a>

<a  href="/supplier_list" >Supplier Master</a>

<a  href="/purchase_list" >Purchase Master</a>

<a  href="/sale_list" >Sale Master</a>

<a  href="/report" >Report</a>
</nav>
</body>
